.custom-btn-primary {
    background-color: #ff7d41;
    border-color: #ff7d41;
    color: #fff;
}

.custom-btn-primary:hover {
    background-color: #d66834;
    border-color: #d66834;
    color: #fff;
}

.custom-btn-primary:focus {
    background-color: #d66834;
    border-color: #d66834;
    box-shadow: 0 0 0 0.25rem #ff8f5b8f;
    color: #fff;
}

.custom-btn-outline-primary {
    color: #fe7d41;
    border-color: #fe7d41;
}

.custom-btn-outline-primary:hover {
    color: #fff;
    background-color: #d66835;
    border-color: #d66835;
}

.custom-btn-outline-primary:focus {
    color: #fe7d41;
    border-color: #fe7d41;
    box-shadow: 0 0 0 0.25rem #ff8f5b8f;
}

.parallax-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    background: transparent;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    position: absolute;
}

.footer {
    width: 100%;
    min-height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.after-text {
    position: relative;
}

.after-text::after {
    content: "\A0";
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 9px;
    width: 25px;
    border-top: 2.4px solid #fe7d41;
    z-index: 1;
}

.btn-whatsapp {
    background-color: #23c379;
    border-color: #23c379;
}