.header-background {
  background: url('../imgs/pergolado-com-treliça-para-jardim-vertical-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}